    
<div id="formulario-container">   
    <p>Login</p>
    <form id="formulario">
        <label for="email">Email</label>
        <input type="text" class="form-control" id="email" placeholder="Ingrese Email">
        <label for="contrase単a">Contrase単a</label>
        <input type="password" class="form-control" id="contrase単a" placeholder="Ingrese contrase単a">
        <button type="submit" class="btn btn-primary">Iniciar</button>

        <a class="nav-link" href="http://localhost:8080/registro">Registrate</a>
    </form>
    

    <div id="products-container" class="d-flex"></div>

</div>
<script src="/js/login.js"></script>